# Python cache
__pycache__/
*.pyc

# Environment files
.env
.venv/

# Streamlit secrets
.streamlit/

notes.py
utils_gammel.py
test_mongo.py

Project work, part 2/.ipynb_checkpoints/
.DS_Store
.env
__pycache__/
.ipynb_checkpoints/
*.pyc